<!-- views/partials/header.ejs -->

  <div data-role="header" data-position="fixed">
    <h1>PHOTO GALLERY</h1>
    <a href="#overlayPanel" class="ui-btn ui-btn-inline ui-corner-all ui-icon-grid ui-btn-icon-notext">content</a>
  </div>

  <div data-role="main">
    
          <!-- add a Panel (type: overlay/reveal/push) -->
  <div data-role="panel" id="overlayPanel" data-display="overlay">
    <div data-role="controlgroup" data-type="vertical">
         <!-- click and go to main page -->
      <a href="/photos" class="ui-btn ui-icon-home ui-btn-icon-notext">Home</a>
      <a href="/addPage" class="ui-btn">Upload</a>
    </div>
  </div>

  </div>
  <div data-role="footer" data-position="fixed" >
    <h1>SA43 Team9 Node.js Project</h1>
  </div>